<% include ../partials/header %>

<div class="ui stackable grid container">
  <div class="ui four wide column">
    <div class="ui">
      <div id="mapid">
        <script>
          var mymap = L.map('mapid').setView([<%= blog.lat %>, <%= blog.lng %>], 13);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            // attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id:"mapbox.streets",
            accessToken: '<%= process.env.LEAFLET_API_KEY %>'
          }).addTo(mymap);
          var marker = L.marker([<%= blog.lat %>, <%= blog.lng %>]).addTo(mymap);
          // marker.bindPopup("<b>Restaurant Name</b>").openPopup();
        </script>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui main text container segment">
        <div class="ui huge header"><%=blog.title%></div>
        <div class="ui top attached">
            <div class="item">
              <div class="slider">
                <div><img class="ui centered image"src="https://clarissa-blog.herokuapp.com/<%=blog.blogImage1%>"></div>
                <div><img class="ui centered image"src="https://clarissa-blog.herokuapp.com/<%=blog.blogImage2%>"></div>
                <div><img class="ui centered image"src="https://clarissa-blog.herokuapp.com/<%=blog.blogImage3%>"></div>
                <div><img class="ui centered image"src="https://clarissa-blog.herokuapp.com/<%=blog.blogImage4%>"></div>
                <div><img class="ui centered image"src="https://clarissa-blog.herokuapp.com/<%=blog.blogImage5%>"></div>
              </div>

            </div>
            <div class="content">
                <span><%= moment(blog.created).format("Do MMMM YYYY") %></span>
            </div>
            <br>
            <div class="content">
                <span><%= blog.location %></span>
            </div>
            <br>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <% if(!currentUser){ %>
            <% } else { %>
              <% if(currentUser.isAdmin){ %>
                <a class="ui black button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                <form class="delete" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
                    <button class="ui black button">Delete</button>
                </form>
              <% } if(currentUser){ %>
                <div class="ui star rating" data-rating="3"></div>
              <% } %>
            <% } %>
        </div>

    </div>

    <div class="ui main text container segment">
      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
          <% blog.comments.forEach(function(comment){ %>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                <div class="comment">
                  <div class="content">
                    <span class="author"><%= comment.author.username %></span>
                    <div class="metadata">
                      <div class="date">Posted: <%= moment(comment.created).fromNow() %></div>
                    </div>
                    <div class="text">
                      <form class="ui reply form" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <div class="field">
                            <textarea name="comment[text]" rows="3" cols="80" style="margin-top: 0px; margin-bottom: 0px; height: 55px;"><%= comment.text %></textarea>
                        </div>
                        <div class="commentButton">
                          <input type="submit" class="ui black button edit space" value="Edit">
                        </div>
                      </form>
                      <form class="delete" action="/blogs/<%= blog._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                        <div class="commentButton">
                          <input type="submit" class="ui black button delete" value="Delete">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            <% } else { %>
                <div class="comment">
                  <div class="content">
                    <span class="author"><%= comment.author.username %></span>
                    <div class="metadata">
                      <div class="date">Posted: <%= moment(comment.created).fromNow() %></div>
                    </div>
                    <div class="text">
                      <%= comment.text %>
                    </div>
                  </div>
                </div>
            <% } %>
          <% }) %>
        </div>
        <form class="ui reply form" action="/blogs/<%= blog._id %>/comments" method="POST">
          <div class="field">
            <textarea required wrap="hard" name="comment[text]" placeholder="Add new comment" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 55px;"></textarea>
          </div>
          <button class="ui small black button">Submit comment</button>
        </form>
    </div>
    </div>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
        dots:true,
        arrows: true,
        autoplay:true,
        autplaySpeed:20,
        adaptiveHeight: true,
        respondTo: "window",
        variableWidth: false,
      });
    });
  </script>
<% include ../partials/footer %>
